@supports (display: grid) {
  /** HEADER **/
  header {
    grid-column: 1 / span 5;
    grid-row: 1 / 1;
    background-image: linear-gradient($secondary, $black);
  }

  header nav {
    margin: auto;
    z-index: 2;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px;
  }

  .menu {
    grid-column: 8 / span 10;
    grid-row: 1 / 1;
    margin: auto;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }

  .menu li {
    display: inline;
  }

  .menu li a {
    padding: 8px;
    color: $primary;
  }

  .logo {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-family: $font-family-logo;
    z-index: 2;
    margin: auto;
  }

  @media (min-width: 320px) and (max-width: 1000px) {
    .menu {
      grid-column: 1 / span 10;
      grid-row: 2 / 2;
      margin: auto;
    }

    .logo {
      grid-column: 1 / span 10;
      grid-row: 1 / 1;
    }

    header nav {
      margin: auto;
      z-index: 2;
      min-width: 320px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 100px;
    }
  }
}
