/** FONT FAMILI **/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-h1: "Anton", sans-serif;
$font-family-logo: "Luckiest Guy", cursive;

$uoc-corporate: #9bdfe4;
$uoc-masterbrand: #73edff;

$body-bg: #000;
$body-color: #fff;
$footer-color: #d8397b;
$white: #fff;
$black: #000;
$gray: #ccc;

/** THEME COLORS **/
$primary: #fff;
$secondary: #064364;
$info: #d8397b;
